@use "sass:color";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/common";

@function hover-darken($color) {
  @return color.adjust($color, $lightness: -10%);
}

.button {
  all: unset;
  padding: 1rem;
  cursor: pointer;

  @include border-radius;
  @include box-shadow;

  &.primary {
    background-color: $color-primary;

    &:hover {
      background-color: hover-darken($color-primary);
    }
  }

  &.secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: hover-darken($color-secondary);
    }
  }

  &.default {
    background-color: white;
    border: 1px lightgray solid;

    &:hover {
      background-color: hover-darken(white);
    }
  }
}