@import "../../assets/styles/variables";
@import "../../assets/styles/common";

.navbar {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  padding: 1rem;

  @include box-shadow;

  .title {
    margin: 0;

    a {
      @include link-bg-primary;
    }
  }
}