@import "../form-common";

.input-wrapper {
  @include wrapper;

  .label {
    @include label;
  }

  .input {
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
  }
}